#目录

#文件
main
*.rdb
*.o
*.obj
*.elf
*.hex
*.strip
*.exe
*.rar
*.gz
redis-server 
redis-sentinel 
redis-cli 
redis-benchmark 
redis-check-rdb 
redis-check-aof 
*.gcda 
*.gcno 
*.gcov 
redis.info 
lcov-html 
Makefile.dep 
dict-benchmark
libhiredis.so 
libhiredis.a 
libhiredis_ssl.so 
libhiredis_ssl.a 
hiredis-test 
hiredis.pc 
examples/hiredis-example*